/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* === general style === */

body, html {
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

.container {
    height: 100%;
}

@media (min-width: 350px) {
    .container {
        width: 350px;
        margin: auto;
    }
}

.hidden {
    display: none;
}

/* === header, intro style === */

#intro {
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1545431781-3e1b506e9a37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#intro p {
    padding-top: 40px;
    font-size: 30px;
    text-align: center;
    color: #424242;
    font-weight: bold;
    height: 10%;
    opacity: 0.8;
}

 .players {
    height: 70%;
}

.text-vs {
    position: relative;
    left: 150px;
    font-size: 30px;
    top: -20px;
    color: #424242;
}

#start {
    position: relative;
    width: 60%;
    height: 30px;
    left: 20%;
    color: #fff;
    font-size: 18px;
    background-color:#742c58;
    border: none;
    font-weight: bold;
    border-radius: 35px;
    cursor: pointer;
    opacity: 0.7;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    opacity: 0.8;
}

.other {
    border: 3px dashed #742c58;
    left: 50px;
    top: 60px;
}

#viorel {
    top: 90px;
    left: 150px;
}

/* === game workspace === */

#game {
    height: 100%;
    background-color: #eeeeee;
}

.game-info {
    background-color: rgb(220, 216, 224);
}

.game-info span {
    font-size: 18px;
    position: relative;
    bottom: 15px;
    opacity: 0.6;
    font-weight: bold;
}

.coffee {
    padding: 12px;
    text-align: center;
    font-size: 24px;
    opacity: 0.8;
}

#other-obj {
    left: 188px;
}

#other-score {
    left: 188px;
}

.avatar-play {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
}

#other-play {
    position: relative;
    border: 1px solid #fff;
    float: right;
}

.viorel-workspace {
    height: 140px;
}
.user-name {
    text-align: center;
    padding-top: 5px;
    margin: 10px;
    font-size: 22px;
    color: #4484ab;
    font-weight: bold;
}

hr {
    width: 80%;
    background-color: rgb(220, 216, 224);
    opacity: 0.6;
}

#your-choice {
    position: relative;
    left: 90px;
    top: 100px;
}

#your-choice button {
    border: none;
    padding: 10px;
    width: 150px;
    height: 45px;
    font-size: 12px;
    background-color: #dbd1de;
    color: #424242;
    text-align: center;
    display: block;
    font-size: 22px;
    border-radius: 20px;
}

#finalGame {
    height: 100%;
    background-color:  #e6e3e3;
}

#resultGame {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
}

#reset {
    position: relative;
    top: 100px;
    left: -15px;
    width: 180px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #90b5bd;
    color: #fff;
}

#leftAvatar {
    float: left;
    top: 5px;
    top: 10px;
}

#finalGameLeftAvatar p{
    text-align: center;
}

#rightAvatar {
    float: right;
    top: 10px;
    right: 40px;
}

#other-result {
    top: 130px;
    left: -35px;
}

#viorel-result {
    top: 125px;
    left: 70px; 
}

#finalGame span {
    position: relative;
}

#game-over {
    height: 100%;
    background-color:  #e6e3e3;
}

#game-over p {
    text-align: center;
    font-weight: bold;
    color: indianred;
    padding: 30px;
    font-size: 30px;
}

#new {
    border: none;
    width: 170px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    left: 80px;
    top: 200px;
    background-color: #58db74;
    color: #fff;
}