@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
body, html {
    height: 100%;
    font-family: 'Merriweather', serif;
    overflow: hidden;
    user-select: none;
    margin: 0;
	padding: 0;
    border: 0;
    background-color: rgb(139, 133, 133);
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1530073561301-0d4ab1aa09f7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTU2fHxibHVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.hidden {
    display: none;
}

@media (min-width: 380px) {

}

/* === header, intro style === */


h1 {
    color: #fff;
    margin-top: 50px;
   
}

#start {
    position: absolute;
    height: 45px;
    width: 200px;
    bottom: 200px;
    left: calc((100vw - 200px)/2);
    color: #fff;
    font-size: 18px;
    background-color:#6cb5ce;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
/* === game workspace === */
.game-info {
    background-color:rgba(202, 202, 218, 0.5);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: #fff;
    font-weight: 800;
    width: 100%;
    height: 50px;
    padding: 5px;
    z-index: 20;
}

.vio {
    width: 100px;
    float: left;
}

.player {
    float: right;
    position: relative;
    right: 20px;

}

.game-info span {
    font-size: 18px;
    position: relative;
    bottom: 15px;
    opacity: .9;
    font-weight: bold;
}

.coffee {
    padding: 12px;
    text-align: center;
    font-size: 24px;
}

#other-obj {
    left: 188px;
}

#other-score {
    left: 188px;
}

.avatar-play {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
}

#other-play {
    position: relative;
    border: 1px dashed #fff;
    float: right;
}

.viorel-workspace {
    height: 140px;
}
.user-name {
    text-align: center;
    padding-top: 5px;
    margin: 10px;
    font-size: 22px;
    color: #4484ab;
    font-weight: bold;
}

hr {
    width: 80%;
    background-color: rgb(220, 216, 224);
    opacity: 0.6;
}

#your-choice {
    position: relative;
    left: 50px;
    top: 100px;
    width: 280px;
}

#your-choice span {
    padding: 15px;
    font-size: 50px;
}

#finalGame {
    height: 100%;
    background-color:  #e6e3e3;
}

#resultGame {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
}

#reset {
    position: relative;
    top: 100px;
    left: -15px;
    width: 180px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #90b5bd;
    color: #fff;
}

#leftAvatar {
    float: left;
    top: 5px;
    top: 10px;
}

#finalGameLeftAvatar p{
    text-align: center;
}

#rightAvatar {
    float: right;
    top: 10px;
    right: 40px;
}

#other-result {
    top: 130px;
    left: -35px;
}

#viorel-result {
    top: 125px;
    left: 70px; 
}

#finalGame span {
    position: relative;
}

#game-over {
    height: 100%;
    background-color:  #e6e3e3;
}

#game-over p {
    text-align: center;
    font-weight: bold;
    color: indianred;
    padding: 30px;
    font-size: 30px;
}

#new {
    border: none;
    width: 170px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    left: 80px;
    top: 200px;
    background-color: #58db74;
    color: #fff;
}